:root {
  --Bright-orange-sedan: hsl(31, 77%, 52%);
  --Dark-cyan-suv: hsl(184, 100%, 22%);
  --Very-dark-cyan-lux: hsl(179, 100%, 13%);
  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

h1 {
  text-align: left;
  margin: 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  color: var(--Very-light-gray-background-headings-buttons);
}

p {
  color: var(--Transparent-white-paragraphs);
  margin: 0;
  padding: 1em 0;
}

img {
  display: block;
  border: 0;
  width: 25%;
  height: auto;
}

button {
  /* display: inline-block; */
  text-align: center;
  width: 9em;
  padding: 3px;
  border-radius: 25px;
  font-size: xx-small;
  border: none;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

html,
body {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
}

.vehicle-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: x-small;
}

.sedan {
  background-color: var(--Bright-orange-sedan);
  padding: 1em;
  border-radius: 12px 12px 0px 0px;
}

.suv {
  background-color: var(--Dark-cyan-suv);
  padding: 1em;
}

.luxury {
  background-color: var(--Very-dark-cyan-lux);
  padding: 1em;
  border-radius: 0 0 12px 12px;
}

.sedan > button {
  color: var(--Bright-orange-sedan);
}

.suv > button {
  color: var(--Dark-cyan-suv);
}

.luxury > button {
  color: var(--Very-dark-cyan-lux);
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid black;
}

/*--------------------------------------------------------------
Use flexbox to create a mobile layout
--------------------------------------------------------------*/

@media screen and (min-width: 370px) {
  @supports (display: flex) {
  }
}

@media screen and (min-width: 700px) {
  @supports (display: flex) {
    body {
      margin: 0;
    }
    .vehicle-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 100vh;

      font-size: medium;
    }

    .sedan {
      border-radius: 12px 0 0 12px;
    }

    .luxury {
      border-radius: 0 12px 12px 0;
    }

    button {
      padding: 5px;
      font-size: small;
    }
  }
}
